.container > h1 {
    margin: 0 auto;
    text-align: center;
}

#leadersTable {
    margin: 20px auto;
    border-spacing: 0;
}

#leadersTable td {
    padding: 10px 50px;
    text-align: center;
}

.highlightedRow {
    background-color: #e8e8e8;
}